---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <h1>About</h1>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio omnis ex iusto molestias dolore consequuntur esse, repellat dignissimos fugit officiis. Esse sapiente tempore, sit nobis cum ex eum iure rerum!
    </p>
</Layout>